*{
    margin: 0;
    padding: 0;
}

/* ==========================================
General Styles
========================================== */

.txtLight{
    color: #fff;
}

.btnPrincipal a{
    width: auto;
    height: 50px;
    margin: auto;
    font-weight: bold;
    background: url(../img/btnBackground.svg);
    padding: 15px 25px 5px 25px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-out;
}
.btnPrincipal a:hover{
    transform: scale(1.1);
    color: black;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

/*-------FUENTES-------*/
/*Principal*/
@font-face {
    font-family: principalFont;
    src: url(../fonts/static/Comfortaa-Light.ttf);
}

/* ==========================================
End General Styles
========================================== */

/* ==========================================
HEADER
========================================== */

.introsection{
    background: linear-gradient(50deg, #333, #000, #000);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navConfig{
    width: 100%;
    height: 50px;
    background: none;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 250px;
    font-family: 'principalFont';
    color: #fff;
    border-bottom: 1px solid #fff;
}

.navConfig ul, .navConfig .logo{
    position: relative;
    margin: auto 0;
}

.navConfig ul li, .navConfig .logo p{
    text-decoration: none;
    display: block;
    margin: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.introImg{
    position: relative;
    height: auto;
    display: flex;
    margin-bottom: 30px;
}

.circleSlide{
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circleBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    background: url(../img/circleBackground.png);
    background-size: cover;
    z-index: 1;
}

.introText{
    display: block;
    margin: auto;
}

.introText .title{
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-family: 'principalFont';
}

.textIntro{
    position: relative;
    margin-bottom: 100px;
}

.title .dinamicText{
    position: relative;
    width: 200px;
    height: 70px;
    margin-left: 5px;
    overflow: hidden;
}

.dinamicText h1{
    position: relative;
    margin: 50px auto 5px auto;
    z-index: 2;
    text-align: center;
    font-size: 2.4rem;
    animation: dinamicText 15s infinite;
}

@keyframes dinamicText {
    0% {
        margin: 50px auto 5px auto;
    }
    2% {
        margin: 10px auto 10px auto;
    }
    35% {
        margin: 10px auto 10px auto;
    }
    40% {
        margin: -50px auto 65px auto;
    }
    68% {
        margin: -50px auto 65px auto;
    }
    73% {
        margin: -102px auto 110px auto;
    }
    97% {
        margin: -102px auto 110px auto;
    }
    100% {
        margin: -150px auto 150px auto;
    }
}

.dinamicText img{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 5px;
    z-index: 1;
    opacity: 1;
}

.textIntro{
    margin: 30px auto 30px auto;
    display: flex;
    flex-direction: column;
}

.btnPrincipal{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
}

.textIntro p{
    margin: 20px auto 45px auto;
}

@media only screen and (max-width: 990px) {
    .navConfig{
        width: 100%;
        height: 50px;
        background: none;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 50px;
        font-family: 'principalFont';
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .circleSlide{
        position: relative;
        width: 300px;
        height: 300px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}